html {
    background: red; 
}

.game-outer-container {
    display: flex; 
    flex-direction: column;
}

/* .in-game-menu {

} */

.stock-and-foundation-container {
    display: flex; 
    flex-direction: row; 
}

 .stock-waste-container {
    display: flex; 
    flex-direction: row; 
    margin-right: 150px;
}

.stock { 
    margin-right: 50px; 
}

.waste {

}

.foundation { 

} 

.tableau { 
 display: flex; 
 flex-direction: row; 
} 

.tableau-stack { 
    display: flex; 
    flex-direction: column; 
    flex: 1 1 auto; 
} 

.card.selected {
    filter: brightness(50%); 
}
